<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title >Extension chrome</title>
	<link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>

<nav>
            <a href="/config/form">Alerte CRA</a>
            <a href="/config/formReminder">Utilisateur Message</a>
            <a href="/config/formperiod">Périodicité RDV</a>
    <ul>
            <li class="dropdown">
                <div class="dropdown-content">
                    <a href="#">Option 1</a>
                    <a href="#">Option 2</a>
                    <!-- Ajoutez d'autres options au besoin -->
                </div>
            </li>
    </ul>
   </nav>

</body>
</html>